---
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
permissions: read-all

name: R-CMD-check-versions

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} (R ${{ matrix.config.r }}, ${{ matrix.config.date }})
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - windows-latest
          - ubuntu-latest
        config:
          - date: 2022-06-30    # 08mar2024: Current date for SCE-R
            r: 4.2.0
          - date: 2023-10-25    # 08mar2024: Next release date for SCE-R
            r: 4.3.1
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-pandoc@v2
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: false

      - name: Install curl
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt install libcurl4-openssl-dev

      - name: Install dependencies
        run: >
          options(
            repos = c(CRAN = "https://packagemanager.posit.co/cran/${{matrix.config.date }}")
            )


          install.packages(c("attachment", "rcmdcheck"), Ncpus = parallel::detectCores()-1)


          attachment::att_from_description(field = c("Depends", "Imports", "Suggests")) |>
            install.packages(Ncpus = parallel::detectCores()-1)

        shell: Rscript {0}

      - name: Session info
        run: |
          sessionInfo()
          installed.packages()[,c("Package", "Version")]

        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
